body{
     display: flex;
    background: url(OIP.jpeg);
    background-position:center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial,  sans-serif;
}
div{
    text-align: center;
    border-radius: 20px;
    box-shadow: 40px;
   
}